@import 'main.less';

body {
  padding: 10em;
}

.container {
  padding: 4em;
  background: #fff;
  header {
    .avatar {
      border-radius: 12em;
      height: 12em;
      width: 12em;
      margin-top: -10em;
    }
    h1 {
      margin-top: 1em;
    }
    h1:nth-child(3) {
      color: #555;
      font-size: 2em;
    }
  }
}

header {
  text-align: center;
}

.body {
  margin-top: 2em;
  header {
    border-top: solid 4px #eee;
    padding-top: 2em;
    text-align: left;
    h1 {
      color: orange;
    }
    p {
      margin-top: 1em;
      color: #333;
    }
  }
}

.education {
  &:extend(.body);
  margin-top: 3em;
  padding-bottom: 1em;
  .title {
    color: orange;
  }
  ul {
    display: inline;
    li {
      display: inline;
      padding: 1em;
      section {
        .edu_left {
          display: inline;
          float: left;

          h1 {
            color: #000;
            font-size: 1.5em;
          }
        }
        .edu_right {
          background: #eee;
          padding: 0.5em;
          margin-left: 5em;
          border-radius: 3px;
          h1 {
            font-size: 1.8em;
            color: #000;
          }
          p {
            margin-top: 1em;
          }
        }
      }
    }
  }
}
